/*
* @Author: Administrator
* @Date:   2018-08-28 23:40:35
* @Last Modified by:   Administrator
* @Last Modified time: 2018-09-09 21:11:05
*/

/* 固定开始 */
.fix{
	position: fixed;
	top:375px;
	right: 0;
	z-index: 99;
}
.fix ul li{
	width: 60px;
	background: #77CC5B;
}
.fix ul li:nth-child(3){
	background: #4BB344;
}
.fix ul li i{
	text-align: center;
	font-size: 40px;
	color: white;
	display: block;
}
.fix ul li:hover{
	background: #4BB344;
}
.back{
	position: fixed;
	top:546px;
	right: 0;
	width: 60px;
	background: #77CC5B;
	z-index: 99;
}
.back i{
	text-align: center;
	font-size: 40px;
	color: white;
	display: block;
}
/* 固定结束 */

body{
	width: 100%;
	height:800px;
}
nav{
	width: 100%;
	height: 80px;
	background: white;
}

nav .con{
	width: 100%;
	height: 80px;
	/* background: yellow; */
	display: flex;
	flex-direction: column;
}

nav .picture{
	height: 100%;
	padding-top:10px;
}
nav .picture img{
	width: 167px;
	/* height: 56px; */
	display: block;
	margin:0 auto;
}
nav .title{
	width: 100%;
	margin-top: 10px;
}
nav .title ul{
	margin-bottom: 0;
}
nav .title .title-list{
	display: block;
	background:#60C14D;
}
nav .title .title-list a{
	text-align: center;
	color: white;
}
nav .title .title-list .xia{
	float: right;
	margin-right: 20px;
	margin-top: -40px;
}
nav .title .title-text{
	
	display: none;
}
nav .title ul li a{
	color: #757575;
	font-size: 14px;
	text-decoration: none;
	text-align: center;
	/* border-bottom: 1px solid #757575; */
	display: block;
	/* height: 65px; */
	line-height: 40px;
}
nav .title ul li a:hover{
	border-bottom: 1px solid #757575;
}
nav .sign{
	width: 20%;
	display: none;
}



/* 业务优势的头部开始 */

.top{
	width: 100%;

	/* background: yellow; */
}
.top .container{
	/* background: #efefef; */
	/* margin-bottom: 10px; */
}
.top .top-word{
	width: 100%;
	height: 40px;
	background: #efefef;
	margin-top: 40px;
	padding: 10px 20px;
	

}
.top .top-word a{
	color:  rgb(96, 193, 77);
	text-decoration: none;
}
.top .top-word span{
	color: #999;
}

/* 业务优势头部结束 */
.word p{
	/* color: rgb(141, 144, 149); */
	color: #666;
	padding: 10px 20px;
	line-height: 30px;
}
.word .word-pic{
	padding: 10px 20px;
}
/* 业务优势头部结束 */

/* 业务优势开始  */
.our{
	width: 100%;
	height: 70px;
	background-color: rgb(96, 193, 77);
	padding-left: 30px;
}
/* .our .ours{
	width: 100%;
	
	background:red;
	background: yellow;
	
} */

.our .ours-title{
	float: left;
	font-size: 18px;
	color: #fff;
	font-weight: 600;
	line-height: 70px;
}
.our .ours-subtitle{
	/* float: left; */
	font-size: 12px;
	color: #fff;
	line-height: 70px;
}
.our .ours-line{
	width: 100%;
	height: 1px;
	background: #fff;
	margin-top: -20px;
	/* padding-top: 50px; */
	/* padding-bottom: 20px; */
}
/* 业务优势结束 */

.word{
	
}
.word ul li{
	margin: 30px 0;
	display: flex;
	flex-direction: row;
}
/* .word .con{
	width: 100%;
	padding:20px 15px;
} */
.word .word-pic{
	/* width:175px;
	height:125px; */
	margin: auto 0;
}
.word .word-pic img{
	width: 50%;
	height: 50%;
	display: block;
	margin: auto;
}
.word ul li .word-right h2{
	font-size: 18px;
	font-weight: 700;
	color: #333;
}
.word ul li .word-right p{
	padding: 0;
}

.biger .biger-con{
	background: #efefef;

}

/* 平板：小屏幕 col -sm- >768px */
@media screen and (min-width: 768px){
	

}




/* 普通pc端：中等屏幕 col-md- >992px */

@media screen and (min-width:992px){
	nav .con{
		display: flex;
		flex-direction: row;
	}
	nav .picture img{
		margin: 0;
	}
	nav .title{
		padding-top: 0;
		margin-top: 0;
	}
	nav .title ul{
		display: flex;
		flex-direction: row;
	}
	nav .title ul li{
		margin-left: 20px;
		margin-top: 20px;
	}
	
	nav .title .title-text{	
		display: block;
	}
	nav .title .title-list{
		background: white;
	}
	nav .title .title-list .black{
		color: #757575;
		border-bottom: 1px solid #757575;
	}
	nav .title .title-list .xia{
		display: none;
	}
	nav .sign{
		display: flex;
		flex-direction: row;

	}
	nav .sign a{
	color: #757575;
	font-size: 14px;
	line-height: 80px;
	text-decoration: none;
	padding-left: 5px;
	}
	nav .sign i img{
	width: 20px;
	height: 20px;
	display: block;
	margin-top: 32px;
	margin-left: 10px;
	}
.top .top-word{
	margin: 0;
}
.top .container{
	margin-bottom: 10px;
}

.biger .biger-con{
	/* padding-left: 0; */
	display: flex;
	flex-direction: row;
}
.biger .our{
	width: 30%;
}
.biger .word{
	width: 70%;
}
	.word .word-pic{
	width:175px;
	height:125px;
	margin: auto 0;
}
	.word .word-pic img{
	width: 100%;
	height: 100%;
	display: block;
}

}


 /* 大屏幕pc端：大屏幕 col-lg- >1200px  */
 @media screen and (min-width:1200px){

}  