/*
* @Author: Administrator
* @Date:   2018-08-28 22:19:09
* @Last Modified by:   Administrator
* @Last Modified time: 2018-09-09 21:27:38
*/

/* 固定开始 */
.fix{
	position: fixed;
	top:375px;
	right: 0;
	z-index: 99;
}
.fix ul li{
	width: 60px;
	background: #77CC5B;
}
.fix ul li:nth-child(3){
	background: #4BB344;
}
.fix ul li i{
	text-align: center;
	font-size: 40px;
	color: white;
	display: block;
}
.fix ul li:hover{
	background: #4BB344;
}
.back{
	position: fixed;
	top:546px;
	right: 0;
	width: 60px;
	background: #77CC5B;
	z-index: 99;
}
.back i{
	text-align: center;
	font-size: 40px;
	color: white;
	display: block;
}
/* 固定结束 */

nav{
	width: 100%;
	height: 80px;
	background: white;
}

nav .con{
	width: 100%;
	height: 80px;
	/* background: yellow; */
	display: flex;
	flex-direction: column;
}

nav .picture{
	height: 100%;
	padding-top:10px;
}
nav .picture img{
	width: 167px;
	/* height: 56px; */
	display: block;
	margin:0 auto;
}
nav .title{
	width: 100%;
	margin-top: 10px;
}
nav .title ul{
	margin-bottom: 0;
}
nav .title .title-list{
	display: block;
	background:#60C14D;
}
nav .title .title-list a{
	text-align: center;
	color: white;
}
nav .title .title-list .xia{
	float: right;
	margin-right: 20px;
	margin-top: -40px;
}
nav .title .title-text{
	
	display: none;
}
nav .title ul li a{
	color: #757575;
	font-size: 14px;
	text-decoration: none;
	text-align: center;
	/* border-bottom: 1px solid #757575; */
	display: block;
	/* height: 65px; */
	line-height: 40px;
}
nav .title ul li a:hover{
	border-bottom: 1px solid #757575;
}
nav .sign{
	width: 20%;
	display: none;
}
/* 关于我们的头部开始 */

.top{
	width: 100%;
	
	
}
.top .container{
	/* background: #efefef; */
	margin-bottom: 10px;
}
.top .top-word{
	width: 100%;
	height: 40px;
	background:#efefef;
	 margin-top: 36px;
	padding: 10px 20px;
}
.top .top-word a{
	color:  rgb(96, 193, 77);
	text-decoration: none;
}
.top .top-word span{
	color: #999;
}

/* 关于我们的头部结束 */

/* 农产品中心开始 */
.new{
	/* width: 100%; */
	height: 750px;
	/* background: grey; */
}
.new .new-big{
	display: flex;
	flex-direction: column;

}
.new .new-title{
	width: 100%;
	height: 70px;
	/* background: yellow; */
	padding-bottom: 70px;
}


.new-title .our{
	/* width: 100%; */
	height: 70px;
	background-color: rgb(96, 193, 77);
	padding-left: 30px;
}
/* .our .ours{
	width: 100%;
	
	background:red;
	background: yellow;
	
} */

.new-title .our .ours-title{
	float: left;
	font-size: 18px;
	color: #fff;
	font-weight: 600;
	line-height: 70px;
}
.new-title .our .ours-subtitle{
	/* float: left; */
	font-size: 12px;
	color: #fff;
	line-height: 70px;
}
.new-title .our .ours-line{
	width: 100%;
	height: 1px;
	background: #fff;
	margin-top: -20px;
	/* padding-top: 50px; */
	/* padding-bottom: 20px; */
}
/* 关于我们结束 */



.new  .newmenu{
	/* width: 100%; */
	/* margin-top: 73px; */
	border:1px solid #E0E0E0;
	text-align: left;

}
.new  .newmenu .newmenu-text{
	line-height: 40px;
	height: 40px;
	background:#fff;
	/* border:1px solid #E0E0E0; */
	padding-left: 10px;
}
.new  .newmenu .newmenu-list{
	line-height: 40px;
	height: 40px;
	background:#fff;
	/* border:1px solid #E0E0E0; */
	padding-left: 10px;

	/* display: none; */
}

.new .new-big .active2{
	color:#60C14D
}
/* .new  .newmenu .newmenu-list:hover{
	color:#60C14D;
}
 */
/* .new  .newmenu .newmenu-text:hover{
	color:#60C14D;
} */
.new a{
	color: #666;
	text-decoration: none;
}
.news-all .new-list{
	margin-top:10px;
	
	/* justify-content: center; */
}
.new .news-all .new-list .new-big{
	width: 100%;
	height: 100%;
	padding: 10px 10px;
	border: 1px solid #F2F2F2;
	margin-bottom: 20px;
}
.new .news-all .new-list img{
	width:150px;
	height: 92px;
}
.new .news-all .new-list h2{
	color: #777777;
    font-size: 16px;
    margin: 0;
    padding: 10px 0;
}
.new .news-all .new-list h2:hover{
	color:#60C14D;
}
.new .news-all .new-list p{
	font-size: 12px;
    color: #bababa;
}
.new .news-all .new-list span{
	font-size: 12px;
    color: #bababa;
}
.news-all  .page-big{
	/* justify-content: center; */
	width: 100%;
	display: none;
}
.news-all .new-list .page{
	width: 172px;
	height: 20px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	color: #777;
	font-size: 12px;
	line-height: 20px;

	/* justify-content: center; */

}

.news-all .new-list .news-all .page-big .active3{
	background: green;
}
.news-all .new-list .page .page-next{
	border: 1px solid #ccc;
}
.news-all .new-list .page .page-last{
	border: 1px solid #ccc;
}
/* 农产品中心结束 */

/* 平板：小屏幕 col -sm- >768px */
@media screen and (min-width: 768px){

}


/* 普通pc端：中等屏幕 col-md- >992px */

@media screen and (min-width:992px){
	nav .con{
		display: flex;
		flex-direction: row;
	}
	nav .picture img{
		margin: 0;
	}
	nav .title{
		padding-top: 0;
		margin-top: 0;
	}
	nav .title ul{
		display: flex;
		flex-direction: row;
	}
	nav .title ul li{
		margin-top: 20px;
		margin-left: 20px;
	}
	
	nav .title .title-text{	
		display: block;
	}
	nav .title .title-list{
		background: white;
	}
	nav .title .title-list .black{
		color: #757575;
		border-bottom: 1px solid #757575;
	}
	nav .title .title-list .xia{
		display: none;
	}
	nav .sign{
		display: flex;
		flex-direction: row;

	}
	nav .sign a{
	color: #757575;
	font-size: 14px;
	line-height: 80px;
	text-decoration: none;
	padding-left: 5px;
	}
	nav .sign i img{
	width: 20px;
	height: 20px;
	display: block;
	margin-top: 32px;
	margin-left: 10px;
	}
.top .top-word{
	margin-top: 0;
}
.top .container{
	margin-bottom: 10px;
}
.new .container{
	display: flex;
	/* flex-direction: row; */
	justify-content: space-between;
}
.new .new-big{
	width:25%;

}
.new  .newmenu{
	/* width: 30%; */
}
.new .news-all {
	position: relative;
}
.new .news-all .new-list{
	/* width: 75%; */
	margin-left: 20px;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.new  .newmenu .newmenu-list{
	display: block;
	text-align: left;
	padding-left: 30px;
	border:1px solid #E0E0E0;
	cursor: pointer;
}
.new  .newmenu .newmenu-text{
	padding-left: 30px;
	border:1px solid #E0E0E0;
	cursor: pointer;

}
.news-all .new-list{
	margin-top:0;
	border: 1px solid #E0E0E0;
	/* background: yellow; */
}
.new .news-all .new-list .new-big{

	display: flex;
	/* justify-content: space-between; */
	flex-direction: row;
	margin: 0;
}
.new .news-all .new-list .new-list-word{
	padding-left: 15px;
}
.new .news-all .new-list img{
	margin: 10px 0;
}
.new .page-big{
	/* background: red; */
	position: absolute;
	top: 830px;
	left: 780px;
	display: flex;
	flex-direction: row;
	/* display: inline-block; */
	/* margin-bottom: 15px;
	margin-top: 25px; */
}
.new .page-big span.page-list{
	width: 20px;
	height: 20px;
	/* padding-right: 10px; */
	display: none;
	border: 1px solid #ccc;
	text-align: center;
	cursor: pointer;
	border: 1px solid #000;
	display: inline-block;
}
.new .page-big .active3{
	background: green;
}
}



 /* 大屏幕pc端：大屏幕 col-lg- >1200px  */
 @media screen and (min-width:1200px){

}  